.letter {
    color: white;
    cursor: pointer;
    list-style: none;
    display: inline;
}

.letter-box {
    padding: 0;
    font-family: 'Comic Kings';
    display: block;
    position: relative;
}

.drag-letters-task-message {
    font-family: 'Comic Kings';
    color: white;
    position: relative;
}

.drag-letters-task-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.try-button {
    font-family: 'Comic Kings';
    color: white;
    width: fit-content;
    position: relative;
    margin: 0!important;
    cursor: pointer;
}