@font-face {
    font-family: 'Comic Kings';
    src: url('../../fonts/Comic_Kings.ttf') format('truetype');  
    font-weight: normal;
    font-style: normal;
}

.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.spinner {
    align-self: center;
    width: 12%;
}

.loading-page-text {
    font-family: 'Comic Kings';
    font-size: calc(100vw/70);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}